[submodule "submodules/VEXRISCV"]
	path = submodules/VEXRISCV
	url = git@github.com:IObundle/iob-vexriscv.git
[submodule "submodules/UART16550"]
	path = submodules/UART16550
	url = git@github.com:IObundle/iob-uart16550.git
[submodule "submodules/OS"]
	path = submodules/OS
	url = git@github.com:IObundle/iob-linux.git
[submodule "submodules/IOBSOC"]
	path = submodules/IOBSOC
	url = git@github.com:IObundle/iob-soc.git
[submodule "submodules/SPI"]
	path = submodules/SPI
	url = git@github.com:IObundle/iob-spi.git
[submodule "submodules/VERSAT"]
	path = submodules/VERSAT
	url = git@github.com:IObundle/iob-versat.git
[submodule "submodules/ETHERNET"]
	path = submodules/ETHERNET
	url = git@github.com:IObundle/iob-eth.git
[submodule "submodules/ILA"]
	path = submodules/ILA
	url = git@github.com:IObundle/iob-ila.git
