name: CI

# Set default shell as interactive (source ~/.bashrc)
defaults:
  run:
    shell: bash -ieo pipefail {0}

# Run only one instance of this workflow at a time
# cancel-in-progress: stop running workflow and run latest instead
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
      - python-setup
  # Don't forget to require approval for all outside collaborators
  pull_request:
    branches: '*'
  # Allow manual workflow runs
  workflow_dispatch:

jobs:

  iverilog-baremetal:
    runs-on: self-hosted
    timeout-minutes: 30
    if: ${{ !cancelled() }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: clean
        run: nix-shell --run "make clean"
      - name: setup init_mem ext_mem
        run: nix-shell --run "make setup RUN_LINUX=0 INIT_MEM=1"
      - name: verilator test
        run: nix-shell --run "make -C ../iob_soc_o* sim-run"

  verilator-baremetal:
    runs-on: self-hosted
    timeout-minutes: 30
    if: ${{ !cancelled() }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: clean
        run: nix-shell --run "make clean"
      - name: setup init_mem ext_mem
        run: nix-shell --run "make setup RUN_LINUX=0 INIT_MEM=0"
      - name: verilator test
        run: nix-shell --run "make -C ../iob_soc_o* sim-run SIMULATOR=verilator"

##  verilator-linux:
##    runs-on: self-hosted
##    timeout-minutes: 30
##    if: ${{ !cancelled() }}
##    steps:
##      - uses: actions/checkout@v3
##        with:
##          submodules: 'recursive'
##      - name: clean
##        run: nix-shell --run "make clean"
##      - name: setup init_mem ext_mem
##        run: nix-shell --run "make setup RUN_LINUX=1 INIT_MEM=1"
##      - name: verilator test
##        run: nix-shell --run "make -C ../iob_soc_o* sim-run SIMULATOR=verilator"
  
  cyclonev-baremetal:
    runs-on: self-hosted
    timeout-minutes: 60
    if: ${{ !cancelled() }}
    needs: [ verilator-baremetal ]
  
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: clean
        run: nix-shell --run "make clean"
      - name: setup ext_mem
        run: nix-shell --run "make setup RUN_LINUX=0 INIT_MEM=0"
      - name: cyclonev test
        run: make -C ../iob_soc_o* fpga-test BOARD=CYCLONEV-GT-DK
  
  aes-ku040-baremetal:
    runs-on: self-hosted
    timeout-minutes: 90
    if: ${{ !cancelled() }}
    needs: [ verilator-baremetal ]
  
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: clean
        run: nix-shell --run "make clean"
      - name: setup ext_mem
        run: nix-shell --run "make setup RUN_LINUX=0 INIT_MEM=0"
      - name: ku040 test
        run: make -C ../iob_soc_o* fpga-test BOARD=AES-KU040-DB-G

  doc:
    runs-on: self-hosted
    timeout-minutes: 60
    if: ${{ !cancelled() }}
    needs: [ cyclonev-baremetal, aes-ku040-baremetal, cyclonev-linux, aes-ku040-linux ]
  
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: clean
        run: nix-shell --run "make clean"
      - name: setup
        run: nix-shell --run "make setup"
      - name: doc test
        run: nix-shell --run "make -C ../iob_soc_o* doc-test"
